<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @district.position %>
</p>

<p>
  <strong>District type:</strong>
  <%= @district.district_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @district.name %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
